body.dark-theme {
    --first-color-dark: hsl(var(--hue), 8%, 20%);
    --title-color: hsl(var(--hue), 4%, 95%);
    --text-color: hsl(var(--hue), 4%, 75%);
    --body-color: hsl(var(--hue), 8%, 12%);
    --container-color: hsl(var(--hue), 8%, 16%);
  }

/* Order History Container */
.order-history-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dark-theme .order-history-container {
    background-color: var(--first-color-dark);
  }

/* Header Style */
.order-history-container h2 {
    text-align: center;
    color: #000000;
    font-size: 20px;
    margin-bottom: 20px;
}

.dark-theme .order-history-container h2{
    color: var(--title-color);
}

/* Order List */
.order-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dark-theme .order-list {
    background-color: var(--first-color-dark);
}

/* Order Item */
.order-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dark-theme .order-item{
    color: var(--first-color-Dark)
}

/* Product Image */
.product-image {
    width: 60px;
    height: 90px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}

/* Order Details */
.order-details {
    flex-grow: 1;
    max-width: 60%;
}

.order-details h3 {
    font-size: 14px;
    color: #333;
    margin: 0;
    font-weight: 600;
}

.order-details p {
    font-size: 12px;
    color: #666;
    margin: 2px 0;
}

/* Order Status */
.order-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 120px;
}

.timeline-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
}

/* Status Indicator */
.status-indicator {
    display: block;
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

/* Status Colors */
.order-placed {
    background-color: #ff9800;
}

.shipping {
    background-color: #4caf50;
}

.out-for-delivery {
    background-color: #2196f3;
}

.delivered {
    background-color: #8bc34a;
}

/* Timeline Date */
.timeline-date {
    font-size: 11px;
    color: #999;
    margin-top: 5px;
}
