body {
    background-color: #000; /* Sets the background color of the entire page to black */
    color: #fff; /* Sets the text color to white for better contrast */
    font-family: 'Helvetica', sans-serif; /* Ensures the entire page uses Helvetica */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}

.bottom-nav {
    display: flex;
    justify-content: center; /* Aligns items to the center horizontally */
    align-items: center; /* Aligns items to the center vertically */
    position: fixed;
    bottom: 0;
    left: 50%; /* Positioned half way across the screen */
    transform: translateX(-50%); /* Centers the nav bar exactly at the bottom middle of the screen */
    width: 50%; /* Reduces width to 50% of the screen width */
    height: 34px; /* Height of the nav bar */
    background: linear-gradient(112.83deg, rgba(255, 255, 255, 0.5084) 0%, rgba(255, 255, 255, 0.496) 110.84%);
    box-shadow: 0px 7px 23px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10.5px); /* Ensures the blur effect */
    border-radius: 15px;
}

.nav-item {
    padding: 0 20px; /* Ensures each item is well spaced */
}

.nav-item a {
    color: #2D3748;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px; /* Enhances the readability */
}
